[submodule "third_party/open3d"]
	path = third_party/open3d
	url = https://github.com/isl-org/Open3D.git
[submodule "third_party/vcglib"]
	path = third_party/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git